/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

html{
    height:100%;
}

body{
    background: url(../../../../git/images/clouds.png) no-repeat fixed, linear-gradient(rgba(0,102,161,.8) ,rgba(255,255,255,1));-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
    height:100%;
}

    .container{
        background-color: rgba(220,220,220,0.5);
    }